body{
    margin:0;
    font-family:Arial,sans-serif;

}
.header{
    background-color: #2c3e50;
    color:white;
    padding:10px;
    text-align: center;

}
.content{
    padding:10px;

}
.content h2{
    color:#2c3e50;

   
}
.project {
  background-color: #f4f4f4;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #2c3e50;
}

.content a {
  color: #2c3e50;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}
.footer{
    background-color:#eee ;
    padding:10px;
    text-align: center;
}